<div id="extra-info">
		<div class="container section">
			<div class="row">
				<div class="col s12">
					<h2>{{{front.extra-title}}}</h2>
				</div>
			</div>
			<div class="row">
			{{!Botones para pantallas Pequeñas}}
				<div class="col s12 m4 l3 hide-on-med-and-up center">
						<a id="extra-mini-btn1" class="btn accent white-text">{{front.extra-btn1}}</a>
						<a id="extra-mini-btn2" class="btn accent white-text">{{front.extra-btn2}}</a>
						<a id="extra-mini-btn3" class="btn accent white-text">{{front.extra-btn3}}</a>
						<a id="extra-mini-btn4" class="btn accent white-text">{{front.extra-btn4}}</a>
				</div>
			{{! CONTENIDOS EXTRA}}
				<div class="col s12 m8 l9" id="extra-content1">
					<p class="flow-text ">{{{front.extra-content1}}}</p>
				</div>
				<div class="col s12 m8 l9" id="extra-content2">
					<p class="flow-text ">{{{front.extra-content2}}}</p>
				</div>
				<div class="col s12 m8 l9" id="extra-content3">
					<p class="flow-text ">{{{front.extra-content3}}}</p>
				</div>
				<div class="col s12 m8 l9" id="extra-content4">
					<p class="flow-text ">{{{front.extra-content4}}}</p>
				</div>
			{{!Botones para pantallas grandes}}
				<div class="col s12 m4 l3 hide-on-small-only">
					<div class="row">
						<a id="extra-btn1" class="btn accent active white-text">{{front.extra-btn1}}</a>
					</div>
					<div class="row">
						<a id="extra-btn2" class="btn accent white-text">{{front.extra-btn2}}</a>
					</div>
					<div class="row">
						<a id="extra-btn3" class="btn accent white-text">{{front.extra-btn3}}</a>
					</div>
					<div class="row">
						<a id="extra-btn4" class="btn accent white-text">{{front.extra-btn4}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>