{{!ADVANTAGES SECTION}} 
    <div class="accent" id="advantages">
	    <div class="container section">
	    <div class="row"><h2 class="center white-text">{{front.advantajes-title}}</h2></div>
	    	<div class="row hidden" id="ventaja-1">
	    		<div class="col s12 l3 m4 center">
	    			<img src="{{front.image1}}.svg" alt="{{front.subtitle1}}"  class="landing white circle responsive-img absolute">
	    		</div>
	    		<div class="col s12 l9 m8">
	    			<h3 class="white-text">{{front.subtitle1}}</h3>
	    			<p class="flow-text white-text thin">{{front.description1}}</p>
	    		</div>
	    	</div>
	    	<div class="row hidden" id="ventaja-2">
	    		<div class="col s12 l3 m4 center">
	    			<img src="{{front.image2}}.svg" alt="{{front.subtitle2}}"  class="landing white circle responsive-img absolute">
	    		</div>
	    		<div class="col s12 l9 m8">
	    			<h3 class="white-text">{{front.subtitle2}}</h3>
	    			<p class="flow-text white-text thin">{{front.description2}}</p>
	    		</div>
	    	</div>
	    	<div class="row hidden" id="ventaja-3">
	    		<div class="col s12 l3 m4 center"><img src="{{front.image3}}.svg" alt="{{front.subtitle3}}"  class="landing white circle responsive-img absolute"></div>
	    		<div class="col s12 l9 m8">
	    			<h3 class="white-text">{{front.subtitle3}}</h3>
	    			<p class="flow-text white-text thin">{{front.description3}}</p>
	    		</div>
	    	</div>
	    </div>
	</div>