<div class="parallax-container valign-wrapper">
      	<div class="parallax"><img alt="landing {{info.title}} heroshot" src="{{info.img}}"></div> 
      	<div class="container container-90">
	    	<div class="row valign	left-align ">
				<div class="col s12 l6 m7 dark ">
	    			<h1 class="white-text center">{{{info.title}}}</h1>
	    			<h2 class="thin white-text center">{{{info.subtitle}}}</h2>
	    			<div class="row center facebook-banner">
	    			{{!facebook button}}
	    				<div class="fb-follow" data-href="https://www.facebook.com/maravillarte.co" data-layout="standard" data-size="small" data-show-faces="true"></div>
	    				<div class="apoyanos-img">
	    					{{!<img  src="img/apoyanos.svg" onerror="this.onerror=null; this.src='image.png'">}} 
	    				</div>
	    				
	    			</div>
	    		</div>
			</div>
		</div>
    </div>
    {{!--MAIN mobile-no-parallax}}
    <div id="no-parallax" class="parallax-container valign-wrapper hide-on-med-and-up">
      	<div class="no-parallax"></div> 
      	<div class="container container-90">
	    	<div class="row valign	left-align ">
				<div class="col s12 l6 m7 dark-80 ">
	    			<h1 class="white-text center r">{{{info.title}}}</h1>
	    			<p  class="thin white-text center flow-text">{{{info.subtitle}}}</p>
	    			<div class="row center facebook-banne">
	    			{{!facebook button}}
	    				<div class="white-text" class="fb-follow" data-href="https://www.facebook.com/maravillarte.co" data-layout="standard" data-size="small" data-show-faces="true"></div>
	    			</div>
	    		</div>
			</div>
		</div>
    </div>--}}