<div class="parallax-container valign-wrapper hide-on-small-only">
	<div class="parallax"><img alt="landing {{info.autor}} Quote" src="{{info.img}}.jpg"></div> 
	<div class="container container-90">
		<div class="row valign	left-align ">
			<div class="col s12 l6 m7 dark offset-l6">
				<h2 class="thin white-text center">"{{{info.quote}}}"</h2>
				<h3 class="thin accent-text author">— {{info.autor}}</h3>
				<h2 class="thin white-text center">Envuelvete en conocimiento:</h2>
				<div class="row center">
					<a class="btn white accent-text modal-trigger" href="#registry-modal">{{#unless info.btn}}Pide una demo{{else}} {{info.btn}} {{/unless}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="quote-mobile" class="parallax-container valign-wrapper hide-on-med-and-up">
	<div class="container container-90">
		<div class="row valign	left-align ">
			<div class="col s12 l6 m7 dark-80 offset-l6">
				<p class="thin white-text center flow-text">"{{{info.quote}}}"</p>
				<p class="thin accent-text author flow-text">— {{info.autor}}</p>
				<p class="thin white-text center flow-text">Envuelvete en conocimiento:</p>
				<div class="row center">
					<a class="btn white accent-text modal-trigger" href="#registry-modal">{{#unless info.btn}}Pide una demo{{else}} {{info.btn}} {{/unless}}</a>
				</div>
			</div>
		</div>
	</div>
</div>