<footer color="accent-dark white-text">
<div class="container section">
<div class="row valign-wrapper">
	<div class="col s12 m3 l3">
		<img class="responsive-img" src="{{data.logo-svg}}" alt="{{data.logo-svg}}">
	</div>
	<div class="col s12 m10 l10">
		<h1 class="white-text flow-text	">{{data.title}}</h1>
		<p class="thin white-text flow-text	">{{data.description}}</p>
		<p class="thin white-text flow-text	">{{data.phone}}</p>
	</div>
</div>
</div>
</footer>
