<header class="navbar-fixed">
		<nav >
			<div class="nav-wrapper " data-spy="affix" data-offset-top="100">
			{{#if front.logo-svg}}
				<a id="logo-container" class="brand-logo"><object  type="image/svg+xml" data="{{front.logo-svg}}" height="50"><img height=59 src="{{front.logo-png}}" alt="{{front.title}} logo" ></object></a>
			{{else}}
				<a id="logo-container" class="brand-logo"><object  type="image/svg+xml" data="{{data.logo-svg}}" height="50"><img height=59 src="{{data.logo-png}}" alt="{{data.title}} logo" ></object></a>
			{{/if}}
				
				<ul class="right hide-on-med-and-down ">
					<a id="landingBtn" class="btn white modal-trigger" href="#registry-modal">{{front.action}}</a> 
				</ul>

				<ul id="nav-mobile" class=" side-nav hidden">
					 
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse primary-text  "><i class="material-icons waves-effect waves-pink circle">menu</i></a>
			</div>
		</nav>
	</header>