<div class="input-field col s12 {{info.class}}">	
	<input name="{{info.name}}"  id="{{info.name}}" type="email" class="validate" {{#if required}}required{{/if}}>
	<label for="{{info.name}}">{{info.label}}</label>
</div>